* {
  padding: 0;
  margin: 0;
}
body {
}
.content {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
}
.header {
  display: grid;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.sidebar {
  background: rgb(69, 153, 209);
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  font-weight: bold;
  padding-left: 10px;
}
ul,
li {
  list-style: none;
  padding: 5px;
  display: flex;
}
ul {
  gap: 5px;
}
li {
  gap: 20px;
  align-items: center;
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-bottom: 50px;
}
.branding {
  flex-direction: column;
  gap: 8px;
}
.main {
  background-color: #e5e8ec;
  display: grid;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  grid-template-columns: 3fr 1fr;
  padding-bottom: 50px;
}
#dashboard {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 50px;
  gap: 20px;
  padding-left: 5px;
}

.projects {
  background-color: #e5e8ec;
}
.projecttitle,
.announcementtitle {
  padding-top: 25px;
}
.projectscontent {
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  background-color: #e5e8ec;
  padding: 10px;
  gap: 20px;
}
.projectwindow {
  background-color: #fefeff;
  border-radius: 5px;
  min-height: 200px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-left-style: solid;
  border-color: rgb(230, 230, 10);
  border-width: 8px;
}
.windowtext {
}
.announcewindow {
  background-color: #fefeff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.trending {
}
.trendingwindow {
  background-color: #fefeff;
  border-radius: 5px;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

.announcetext {
}
.hwindow {
  font-size: 14px;
}
.wrapperwindow {
  padding: 15px;
}
.right {
  display: grid;

  padding: 10px;
}
.announcements {
}
.announcementcontent {
}
.trending {
}
.trendingcontent {
}

.gg-home-alt {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 14px;
  border: 2px solid;
  border-top: 0;
  border-radius: 2px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  margin-bottom: -2px;
}

.gg-home-alt::after,
.gg-home-alt::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-home-alt::before {
  border-top: 2px solid;
  border-left: 2px solid;
  border-top-left-radius: 4px;
  transform: rotate(45deg);
  top: -5px;
  border-radius: 3px;
  width: 14px;
  height: 14px;
  left: 0;
}

.gg-home-alt::after {
  width: 6px;
  height: 10px;
  background: currentColor;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  left: 4px;
  bottom: -2px;
}
.gg-profile,
.gg-profile::after,
.gg-profile::before {
  display: block;
  box-sizing: border-box;
  border: 2px solid;
  border-radius: 100px;
}

.gg-profile {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  position: relative;
  margin-left: -2px;
}

.gg-profile::after,
.gg-profile::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 5px;
  width: 8px;
  height: 8px;
}

.gg-profile::after {
  border-radius: 200px;
  top: 11px;
  left: 0px;
  width: 18px;
  height: 18px;
}
.gg-mail,
.gg-mail::after {
  display: block;
  box-sizing: border-box;
  height: 14px;
  border: 2px solid;
}

.gg-mail {
  overflow: hidden;
  transform: scale(var(--ggs, 1));
  position: relative;
  width: 18px;
  border-radius: 2px;
  margin-left: 1px;
}

.gg-mail::after {
  content: "";
  position: absolute;
  border-radius: 3px;
  width: 14px;
  transform: rotate(-45deg);
  bottom: 3px;
  left: 0;
}
.gg-sand-clock {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 12px;
  height: 20px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-left: 4px;
}

.gg-sand-clock::after,
.gg-sand-clock::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-sand-clock::before {
  border-top-left-radius: 14px;
  border-top-right-radius: 14px;
  bottom: -2px;
  width: 10px;
  height: 10px;
  border: 2px solid;
  left: 1px;
}

.gg-sand-clock::after {
  width: 6px;
  height: 6px;
  border: 2px solid transparent;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  top: 0;
  left: 3px;
  box-shadow: 0 0 0 2px, inset 2px 0 0;
}
.gg-move-task {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 8px;
  height: 10px;
  border-top: 2px solid;
  border-bottom: 2px solid;
  margin-left: 6px;
}

.gg-move-task::after,
.gg-move-task::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-move-task::before {
  background: currentColor;
  top: 2px;
  width: 8px;
  height: 2px;
  left: 0;
}

.gg-move-task::after {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 5px solid;
  left: -6px;
}
.gg-pacman {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: rotate(45deg) scale(var(--ggs, 1));
  width: 10px;
  height: 10px;
  border-bottom: 2px solid;
  border-left: 2px solid;
  margin-left: 12px;
}

.gg-pacman::after,
.gg-pacman::before {
  content: "";
  display: block;
  position: absolute;
  box-sizing: border-box;
}

.gg-pacman::before {
  background: currentColor;
  top: 5px;
  border-radius: 3px;
  width: 2px;
  height: 2px;
  left: -5px;
}

.gg-pacman::after {
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 100px;
  border-right-color: transparent;
  left: -10px;
  transform: rotate(-45deg);
}
.gg-work-alt,
.gg-work-alt::after {
  display: block;
  box-sizing: border-box;
  box-shadow: 0 0 0 2px;
}

.gg-work-alt {
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 14px;
  height: 10px;
  border-radius: 1px;
  left: 3px;
}

.gg-work-alt::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 1px;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  left: 4px;
  top: -3px;
}
.gg-support {
  box-sizing: border-box;
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  transform: rotate(45deg) scale(var(--ggs, 1));
  border: 5px solid transparent;
  box-shadow: 0 0 0 2px, inset 0 0 0 2px;
  border-radius: 40px;
}

.gg-support::after,
.gg-support::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-support::before {
  border-left: 9px solid;
  border-right: 9px solid;
  width: 24px;
  height: 2px;
  left: -7px;
  top: 4px;
}

.gg-support::after {
  width: 2px;
  height: 24px;
  border-top: 9px solid;
  border-bottom: 9px solid;
  left: 4px;
  top: -7px;
}
.gg-check-o {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 22px;
  border: 2px solid;
  border-radius: 100px;
}

.gg-check-o::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  left: 3px;
  top: -1px;
  width: 6px;
  height: 10px;
  border-color: currentColor;
  border-width: 0 2px 2px 0;
  border-style: solid;
  transform-origin: bottom left;
  transform: rotate(45deg);
}
.gg-display-grid {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  height: 30px;
  width: 30px;
  border: 10px solid transparent;
  box-shadow: 0 0 0 2px;
}

.gg-display-grid::after,
.gg-display-grid::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 10px;
  height: 4px;
  border-right: 4px solid;
  border-left: 4px solid;
  top: 0;
  left: 0;
}

.gg-display-grid::before {
  top: 6px;
}
